# 企业微信机器人key
# 配置企业微信的key，如不配置也可以在请求接口的时候通过   ?key=xxxx  来拼接

qywechatKey: your_webhook_key_here

# Redis配置
redisServer: 127.0.0.1  # 必须配置
redisPort: 6379  # 可选项，为空默认为6379
redisPassword:  # redis未设置密码则留空，如果设置了密码登陆则必须配置

# 日志配置
logFileDir:   # 可选项，为空则为程序运行目录
logFilePath: alertmanager-webhook.log # 必须配置

# 服务监听配置
port: 9095 # 可选项，为空则默认为9095
host: 0.0.0.0 # 可选项，为空默认监听 127.0.0.1

